/* Contenedor Principal de la Página */
.document-container {
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 10px; /* Espaciado interno */
    background-color: #F26512; /* Color de fondo para el contenedor principal */
}


/* Contenedor para la cabecera con logo, texto y botón */
.usuario-detalles-header {
    display: flex; /* Utilizamos flexbox para alinear los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
    position: relative; /* Para poder posicionar el logo y el botón correctamente */
    padding: 20px;
}

/* Logo en la parte izquierda */
.header-left {
    position: absolute; /* Lo posicionamos fuera del flujo normal */
    left: 20px; /* Ajustamos el margen izquierdo */
}

.logo {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto;
    margin-top: 80px;
}

/* Título centrado */
.title {
    flex: 1; /* El título ocupa el espacio restante */
    text-align: center; /* Centrado del título */
    margin: 0;
    font-size: 24px;
}

/* Botón en la parte derecha */
.header-right {
    position: absolute; /* Lo posicionamos fuera del flujo normal */
    right: 20px; /* Ajustamos el margen derecho */
}

.back-button {
    background-color: #F26512; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #D2550C; /* Color de fondo al pasar el mouse */
}





.usuario-detalles-container {
    display: flex; /* Activamos flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    padding: 20px;
    background-color: white;
    min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    height: auto; /* Ajusta la altura al contenido */
    flex-direction: column; /* Alinea los elementos de arriba hacia abajo */
}

/* Sección de Datos Personales y la Imagen de Perfil */
.personal-data-section {
    display: flex; /* Usamos flexbox para disposición horizontal */
    flex-direction: row; /* Los elementos se alinean en fila horizontal */
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    margin-bottom: 30px;
    background-color: #FFF5E0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Tamaño máximo en ancho */
    
}

/* Ajustes de la imagen de perfil */
.profile-image-container {
    width: 205px; /* Ajusta el tamaño de la imagen */
    height: 207px;
    border-radius: 50%;
    margin-right: 20px;
}
/* Imagen de Perfil */
.profile-photo {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupa el 100% de la altura del contenedor */
}


/* Ajuste de la columna de datos personales */
.right-column {
    flex: 1; /* Ocupa el espacio restante */
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* La altura ocupa toda la altura disponible de la sección */
}
/* Título de sección */
.subsection-title {
    font-size: 18px;
    margin-bottom: 15px;
    color: #000000;
    border-bottom: 5px solid #F26512;;
    padding-bottom: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

/* Estilo de las secciones de texto */
.section {
    background-color: #FFF5E0;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word; /* Manejo de textos largos */
    min-width: 250px; /* Ancho mínimo */
    margin-bottom: 20px;
}

.section p {
    margin: 5px 25;
    white-space: normal; /* Permite el salto de línea dentro del texto */
    word-wrap: break-word; /* Esto asegura que las palabras largas se dividan si es necesario */
    word-break: break-word; /* Esto también puede ayudar a dividir palabras largas */
}

a {
    color:blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Dos Columnas en la Información Detallada (Contactos, Dirección, etc.) */
.two-column-layout {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1200px;  /* Limita el ancho máximo de todo el contenedor */
    margin: 0 auto;  /* Centra el contenedor */
}


.full-width {
    width: 100%;
    margin-top: 0;  /* Elimina el margen superior */
    margin-left: 78px; /* Asegura que no haya márgenes en los lados */
    margin-right: 78px; /* Asegura que no haya márgenes en los lados */
    margin-bottom: 10px;  /* Ajusta el margen inferior según sea necesario */
    padding: 10px;  /* Mantén el padding como estaba */
}


/* Estilos Responsivos */
@media (max-width: 768px) {
    .usuario-detalles-container {
        padding: 15px;
    }

    /* Para pantallas más pequeñas, alineamos verticalmente la imagen y los datos */
    .personal-data-section {
        flex-direction: column; /* Cambio a columna para pantallas pequeñas */
        align-items: center; /* Centra la imagen y los datos */
        text-align: center;
    }

    .profile-image-container {
        margin-bottom: 20px; /* Espacio debajo de la imagen */
    }

    .left-column {
        flex: 0 0 60%;  /* La columna izquierda ocupa el 60% */
        max-width: 60%;  /* Limita su tamaño al 60% */
        padding-right: 20px;  /* Añadido un poco de espacio a la derecha */
    }
    
    .right-column {
        flex: 0 0 40%;  /* La columna derecha ocupa el 40% */
        max-width: 40%;  /* Limita su tamaño al 40% */
    }
}

/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-confirm-button,
.modal-cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
}
.modal-confirm-button:hover {
    background-color: #da4621; /* Rojo aún más claro */
}

.modal-cancel-button:hover {
    background-color: #2f38b3; /* Azul aún más claro */
}

.modal-confirm-button {
    background-color: #ca1b16;
    color: white;
}

.modal-cancel-button {
    background-color: #1d3a5c;
    color: white;
}

/* Botón de eliminar usuario */
.delete-button-container {
    text-align: center;
    margin-top: 1px;
}

.delete-button {
    padding: 15px 26px;
    background-color: #d9534f;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c9302c;
}

.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .alert-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .alert-content {
    color: #333;
  }
  
  .alert-content h3 {
    color: #28a745;
    margin-bottom: 10px;
  }