.home-container {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF5E0;
    padding: 20px;
    color: #333333;
    position: relative;
    justify-content: space-between;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.home-logo {
    width: 350px; /* Tamaño del logo */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 60px; /* Espacio entre el logo y los vínculos */
}

.home-title {
    text-align: center;
    margin-top: 20px;
}

.home-title p {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    text-align: right;
    height: 30px;
}

.home-description p {
    margin: 20px 0;
    font-size: 25px;
    text-align: justify;
    max-width: 800px;
    margin-left: 600px;
    margin-right: auto;
    display: inline-block;
    justify-content: left;
    flex-grow: 1;
}

.links-section {
    display: inline-block;
    justify-content: left;
    flex-grow: 1;
}

.static-links a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    padding: 10px 60px;
}

.static-links a:hover {
    color: #f26512;
}

.home-slogan {
    font-size: 40px;
    color: #f26512;
    margin-top: 3%;
    margin-right: 8%;
    text-align: right;
}

.welcome-title {
    font-size: 52px;
    text-align: center;
    margin-top: 4%;
    color: #f26512;
}

@media (max-width: 768px) {
    .links-section {
        flex-direction: column;
        align-items: center;
    }
}

.home-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 40px;
   
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1200px) {
    .home-buttons {
        flex-direction: row;
        width: auto;
    }
}

.btn-login, .btn-register {
    background-color: #f26512;
    border-radius: 20px;
    padding: 20px 29px;
    margin: 0 10px;
    color: rgb(9, 0, 0);
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
    flex: 1.5;
    min-width: 150px;
    max-width: 300px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-login:hover, .btn-register:hover {
    background-color: #d8540f;
    transform: scale(1.17);
}

@media (max-width: 768px) {
    .btn-login, .btn-register {
        font-size: 16px;
        padding: 10px;
        min-width: 120px;
    }
}

@media (max-width: 480px) {
    .btn-login, .btn-register {
        font-size: 14px;
        padding: 8px;
        min-width: 100px;
    }
}

.home-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 10px;
    width: 100%;
}

.home-location, .home-tutorial {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.home-map, .home-video {
    width: 100%;
    height: 300px;
    max-width: 800px;
    box-shadow: 0 0 0 5px #F26512;
    margin-bottom: 30px;
}

.home-footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    font-size: 29px;
}

.social-icons {
    display: flex;
    gap: 22px;
}

.icon {
    width: 55px;
    height: 55px;
    background-size: contain;
    cursor: pointer;
    padding: 15px 15px;
}

.icon a {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 1280px) {
    .home-header{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .home-logo{
        width: 50%;
        height: 470px;
    }
    .home-title p {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .home-description p {
        font-size: 25px;
        max-width: 40%;
        margin-bottom: 100px;
        margin-left: 700px;
        max-width: 40%;
    }

    .home-buttons {
        width: 90%;
    }

    .home-media {
        flex-direction: column;
        width: 100%;
    }

    .home-location, .home-tutorial {
        width: 100%;
    }
    .home-video, .home-map {
        width: 90%;
        max-width: 100%;
        height: 400px;
    }
    .home-footer {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .icon {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 1200px) {
    .home-header{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .home-logo{
        width: 50%;
        height: 370px;
    }
    .home-title p {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .home-description p {
        font-size: 25px;
        max-width: 35%;
        margin-bottom: 150px;
        margin-left: 600px;
        margin-right: 10px;
        margin-bottom: 140px;
    }

    .home-buttons {
        width: 90%;
    }

    .home-media {
        flex-direction: column;
        width: 100%;
    }

    .home-location, .home-tutorial {
        width: 100%;
    }
    .home-video, .home-map {
        width: 90%;
        max-width: 100%;
        height: 400px;
    }
    .home-footer {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .icon {
        width: 25px;
        height: 25px;
    }
}


@media (max-width: 820px) {
    .home-title p {
        font-size: 24px; /* Reduce el tamaño del texto en pantallas más pequeñas */
    }

    .home-description p {
        font-size: 20px; /* Reduce el tamaño del texto en pantallas más pequeñas */
        padding: 0 10px; /* Agrega un poco de padding */
        max-width: 40%;
        margin-bottom: 100px; /* Agrega espacio adicional debajo de la descripción */
        margin-left: 425px;
        margin-right: 10px; /* Centramos el texto */
    }

    .home-buttons {
        width: 100%;
    }

    .home-location, .home-tutorial {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .home-header {
        font-size: 28px; /* Ajuste del tamaño del encabezado */
    }

    .home-title p {
        font-size: 22px; /* Ajuste del tamaño del título */
    }

    .home-description p {
        font-size: 18px;
        margin-left: 0; /* Ajuste para centrar el texto en móviles */
        text-align: center; /* Centrar el texto */
    }

    .btn-login, .btn-register {
        width: 80%;
        padding: 10px;
        font-size: 18px; /* Tamaño del texto en botones */
    }

    .home-media {
        flex-direction: column;
        align-items: center;
        gap: 20px; /* Espacio entre elementos */
    }

    .home-map, .home-video {
        width: 100%; /* Ancho del 100% en dispositivos móviles */
        height: auto; /* Mantiene la proporción del video/mapa */
        max-width: none; /* Elimina el ancho máximo en móviles */
    }

    .home-location, .home-tutorial {
        width: 90%;
        max-width: 100%; /* Usa el 90% del ancho de la pantalla */
        height: 900px; /* Ajusta la altura según necesites */
    }
}

@media (max-width: 480px) {
    .home-header {
        font-size: 24px; /* Tamaño de encabezado en móviles más pequeños */
    }

    .home-title p {
        font-size: 20px; /* Tamaño del título en móviles */
    }

    .home-description p {
        font-size: 16px;
        margin-left: 0; /* Ajuste para centrar el texto */
        text-align: center; /* Centrar el texto */
    }

    .btn-login, .btn-register {
        width: 100%; /* Botones ocupan todo el ancho */
        padding: 12px; /* Espaciado en botones */
        font-size: 18px; /* Tamaño del texto en botones */
    }

    .home-footer p {
        font-size: 14px; /* Tamaño del texto del pie de página */
    }
}

/* Icono del menú */
.menu-icon {
    cursor: pointer;
    float: right; /* Mantiene el icono a la derecha */
    margin-top: 15px; /* Margen superior */
    margin-right: 10px; /* Margen derecho */
    display: flex;
    flex-direction: column; /* Disposición vertical */
    gap: 4px; /* Espacio entre líneas del menú */
}

.menu-line {
    width: 25px; /* Ancho de las líneas del menú */
    height: 3px; /* Grosor de las líneas del menú */
    background-color: #EFA726; /* Color de las líneas del menú */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.menu-icon:hover .menu-line {
    background-color: #d8540f; /* Color al pasar el ratón */
}

/* Estilos del menú desplegable */
.dropdown-menu {
    background-color: #FFF5E0; /* Color de fondo del menú */
    position: absolute; /* Posición absoluta para desplegar */
    top: 70px; /* Ajusta según la altura de tu encabezado */
    right: 0; /* Alineación a la derecha */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra del menú */
    z-index: 10; /* Asegura que el menú esté por encima de otros elementos */
}

.dropdown-menu ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0; /* Sin márgenes */
    padding: 0; /* Sin padding */
}

.dropdown-menu li {
    padding: 10px 20px; /* Espacio interior en los elementos del menú */
    text-align: left; /* Alineación del texto */
    border-bottom: 1px solid #f26512; /* Línea divisoria entre elementos */
}

.dropdown-menu li a {
    text-decoration: none; /* Elimina subrayado */
    color: #333; /* Color del texto */
    display: block; /* Hace que el área clicable sea el bloque completo */
}

.dropdown-menu li a:hover {
    background-color: #FFEEC8; /* Color al pasar el ratón */
    color: #f26512; /* Color del texto al pasar el ratón */
}

.home-sections {
    padding: 30px; /* Espaciado alrededor de las secciones */
    margin-top: -3%; /* Margen superior */
}

.section-title {
    color: #000000; /* Color del título de la sección */
    font-size: 35px; /* Tamaño del título */
    text-align: center; /* Centra el texto */
    margin-bottom: 30px; /* Espacio debajo del título */
    font-family: 'Roboto', sans-serif; /* Fuente del título */
}

.section-item {
    display: flex; /* Disposición en flexbox */
    align-items: center; /* Alineación vertical */
    margin-bottom: 30px; /* Espacio entre elementos */
}

.section-text {
    width: 50%; /* Ancho del texto */
    padding-right: 10px; /* Espacio entre texto y la siguiente sección */
}

.section-name {
    color: #d8540f; /* Color de la sección */
    text-shadow: 1px 1px 2px #FFF5E0; /* Sombra de texto crema */
    font-size: 25px; /* Tamaño del nombre */
    margin-bottom: 50px; /* Espacio debajo del nombre */
}

.section-description {
    color: black; /* Color de la descripción */
    font-size: 20px; /* Tamaño del texto */
    line-height: 1.5; /* Altura de línea para mejor legibilidad */
    text-align: justify; /* Alineación justificada */
}

.section-images {
    width: 55%; /* Ancho de la sección de imágenes */
    display: flex; /* Disposición en flexbox */
    justify-content: space-between; /* Espacio uniforme entre imágenes */
    gap: 10px; /* Espacio entre imágenes */
}

.section-image {
    width: 32%; /* Cada imagen ocupa el 32% del ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    border-radius: 30px; /* Bordes redondeados */
}

.home-gallery {
    text-align: center; /* Centra el contenido de la galería */
    margin-bottom: -10px; /* Espacio inferior negativo */
}

.gallery-title {
    color: #000000; /* Color del título de la galería */
    font-size: 35px; /* Tamaño del título */
    margin-bottom: 15px; /* Espacio debajo del título */
}

.gallery-row {
    display: flex; /* Disposición en flexbox */
    justify-content: space-between; /* Espacio uniforme entre imágenes */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten */
    gap: 1px; /* Espacio entre imágenes */
}

.gallery-image {
    width: 21%; /* Cada imagen ocupa aproximadamente el 21% del ancho */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    border-radius: 30px; /* Bordes redondeados */
}

.home-encargada {
    margin-left: 2%; /* Margen izquierdo */
    margin-right: -5%; /* Margen derecho negativo */
    display: flex; /* Disposición en flexbox */
    align-items: flex-start; /* Alineación superior */
    justify-content: space-between; /* Espacio entre texto y foto */
    background-color: #FFF5E0; /* Fondo color claro */
    padding: 0px; /* Espaciado alrededor */
    margin-top: 5%; /* Margen superior */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: -2%; /* Espacio inferior negativo */
}

.encargada-content {
    display: flex; /* Disposición en flexbox */
    width: 95%; /* Ancho del contenido */
}

.encargada-info {
    flex: 1; /* Toma el espacio restante */
    margin-right: 30px; /* Espacio entre descripción y foto */
}

.encargada-title {
    font-size: 2rem; /* Tamaño del título */
    color: #F26512; /* Color del título */
    margin-bottom: 15px; /* Espacio debajo del título */
}

.encargada-description {
    font-size: 1.4rem; /* Tamaño de la descripción */
    color: #333; /* Color del texto */
    line-height: 1.5; /* Altura de línea para mejor legibilidad */
    text-align: justify; /* Alineación justificada */
    margin-bottom: 15px; /* Espacio debajo de la descripción */
}

.encargada-photo {
    flex: 0.3; /* Ajusta el tamaño de la foto */
    display: flex; /* Disposición en flexbox */
    justify-content: center; /* Centra la imagen */
    align-items: center; /* Centra la imagen */
}

.photo-image {
    width: 300px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Hace que la imagen sea circular */
    box-shadow: -25px 5px 8px rgba(196, 100, 22, 0.1); /* Sombra suave */
    object-fit: cover; /* Asegura que la imagen se recorte bien si es necesario */
}

.home-inspiration {
    background-color: #f26512; /* Fondo naranja */
    padding: 10px; /* Espaciado alrededor */
    text-align: center; /* Centra el texto */
    margin-top: 15px; /* Margen superior */
    border-radius: 25px; /* Bordes redondeados */
}

.inspiration-text {
    color: rgb(3, 5, 135); /* Color del texto */
    font-size: 22px; /* Tamaño de letra */
    font-weight: bold; /* Peso de fuente normal */
    line-height: 2; /* Altura de línea para mejor legibilidad */
}